.header
.navbar

.container
  .row
    .col-xs-8
    .col-xs-4
  .row
    .col-xs-8
    .col-xs-4
  .row
    .col-xs-8
    .col-xs-4
  .row
    .col-xs-12  
  .row
    .col-xs-8
    .col-xs-4
  .row
    .col-xs-2  
    .col-xs-2  
    .col-xs-2  
    .col-xs-2  
    .col-xs-2  
    .col-xs-2  
    
.footer
  .row
    .col-indent-1
    .col-xs-6
    .col-xs-2
    .col-xs-2
  .row
    .col-xs-12
      .center-block
